
body{
    background:gray;
    margin:0px;
}
}

.header{
	background:rgb(178, 157, 201);
  	padding: 3px;
  	margin:0;
}

h1{
    text-align:center;
    font-size:60px;
    font-family: monospace;
    font-weight: bold;
    color:rgb(165, 121, 80);
}


.media{
      background:rgb(178, 157, 201);
      height:15%;
      width:100%;
      position: fixed;
      left: 0px;
      bottom: 0px;
      overflow-y: scroll;
}

table{
      margin:auto;
      position:relative;
      bottom:50px;
}

h3{
    color:black;
    font-size: 23px;
    font-family: Monaco;
    text-align: center;
    position: relative;
    bottom: 25px;
}
